language: python

python:
  - "3.6"

before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install -U black
  - pip install -U responses

install:
  - pip install ".[test]" .

jobs:
  include:
    - stage: run unit tests
      python: 3.6
      script: pytest
    - stage: test black code formatting
      python: 3.6
      script: black --check pytmg/
    - stage: pypi release
      python: 3.6
      script: echo "Deploying to PyPI..."
      deploy:
        - provider: pypi
          user: __token__
          password: 
            secure: IScpHZn94oVteDkn5RcD39HD9gpWb92oRoYXbu/EE3H4GwlepTjRuXCCXD/BOWa5tbFXFPM7LLWtluLFCUzOPqJi8dLkYeL+61ONpqX+M0KP+/gNK6tW2E+Gd2bCPoR0jwEqwO5uC3YeCpH3uu1+fzBffFzKJ1slCp4TiCqzX9ABFNjc2YKFjbZ21pSzkSSz1mnxagHdEySPssk3oO0GvEa/keuq6cjSUqDJLhXB3d5mM708IGsimd3MctnqtFMU5dcZ4dkM3TQIMxssVCnC5v8q6m5VQB1a2pZ6Z/RwtJuf0SHFuEaGS8ZJxfyuGq9o8EPvHlt3bMKvtZ78qDAilYIZ0nww+25udYKVYn2uMhiQgf0/9hSV5/aQyF7xRDp7iTrF0HYuS3F0TrZGWHydVjt7X/rcTPbk+LiQ7QANr5qNQaGmWg+9lNzlTqxCDwdjobpJyUK410XWLDXKmwrGA+PC8aKb6mYJ6vgzVFSPFq6ewqKHCkba3AbGy+3vlfoBoCEuaQOLuUcbbgMAPFJ+YQaZqhwT5e6BnzSj49fTIps1S7UBot6Hf3yX49TFFo4FCQ8hO5XHqMgmJzM2w0l3axm85NtbneznMF/aSCyYFT+QEylp7KZFfYKc8nWhrTzDZpdM4UvOAOhufCdurMlhaJ1U8VqHxKicxBUZyd68yPA=
          on:
            branch: master